body{
    border:1px solid rgba(102, 113, 189, 0.785);
    border-radius: 5px;
    width:fit-content;
    margin: 2rem auto;
}

*{font-family: Verdana, sans-serif;}

h1,h2,h3,h4,h5,h6{
    text-align: center;
}
h2{font-size: 1.2rem;}
h3{font-size:1rem;
    margin-bottom:0;
}
p{text-align:left;}

a{
    text-decoration: none;
    color:  rgba(102, 113, 189, 0.785);
    padding: 0 2rem;;
}
section{


}
article{
    display: flex;
    flex-direction: column;

}

main{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 60rem;
    margin: auto;
    padding: 1rem;
}

a:hover{
    color: brown;
    animation-name:grossi;
    animation-duration: 350ms;
    animation-timing-function: ease-in;
}

@keyframes grossi {
    from {
        font-size:1rem;
    }
    to{
        font-size: 1.2rem;
    }
}


header{
    background-color: rgba(102, 113, 189, 0.785);
    border-radius:5px;
    margin-bottom: 5rem;
    margin:auto;
    width: 30rem;
}

ul{
    list-style-type:none;
}
li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*padding-bottom: 1rem;*/
    text-align: center;
}

article h1, article h2{
    background-color: rgba(102, 113, 189, 0.785);
    width: 30rem;
    margin: auto;
    border-radius: 5px;
}
article p{
    margin-left:2.5rem;
}
article ul p{
    margin-left:0;
}
aside{
    background-color: rgba(16, 91, 177, 0.747);
    color:white;
    border-radius: 5px;
    margin: 0;
    padding: 1rem;
}
aside a{color:white;}
aside h1{
    padding: 2rem 0;
}
aside h2{
    text-decoration: underline;
}
aside ul{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding:0;
    justify-content: space-around;
    height: 430px;
}

footer{
   margin:0 auto 1rem;
   width:fit-content;
}