body{
background-color: rgba(218, 202, 202, 0.33);
}
@font-face {
    font-family: Noto;
    src: url("./fonts/NotoSansKawi-Regular.ttf");

}
@font-face {
    font-family: Mulish;
    src: url("./fonts/Mulish-VariableFont_wght.ttf");
}

*{color:white;}

h1,h2,h3,h4,h5,h6,figcaption{
    text-align: center;
    font-family: Noto;
}
h1.nom{
    margin-top:2rem;
    padding:0;
    width: 20rem;;
}

article div h2 {color: #726f6f;}

h3{margin-bottom:0;}

p,
a{  font-family: Mulish;
    text-align:left;}

a{  text-decoration: none;
    padding: 0 2rem;;}

header div,
article,
aside,
nav a, video, figure
{box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1),-11px 11px 30px #726f6f;}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
    margin: 1rem auto;
}
header div{
    border-radius: 10px;
    background: #edc851;
    margin: 2rem 1rem 5rem 5rem;
    padding:2rem 0;
    width: 50%;
    transform: skewX(-12deg);
}
header img{
    border-radius: 900px;
    object-fit: cover;
    height:80%

}
header h1, header h2{
    transform: skew(7deg);
}



main{
    display: flex;
    justify-content: flex-start;
    gap:40rem;
    margin: 1rem 0 1rem 1rem;
}

aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: skewX(4deg);
    height: 70vh;
    min-height: 870px;
    width:25rem;
    z-index:-2;
    margin-left:2rem;
    background: rgba(255, 151, 41);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

aside h1{
    padding: 2rem 0;
    transform: skewX(-4deg);
}
aside h2{
    text-decoration: underline;
}
aside p,
aside a{margin:0;}
aside ul{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding:0;
}





article{
    transform: skew(-10deg);
    border-radius: 17px;
    padding: 2rem 1rem 0;
    border:1px solid rgba(95, 158, 160, 0.77);
    -webkit-backdrop-filter: blur(5px);
    position: absolute;
    top: -12px;
    left:35%;
    padding-top: 30rem;
    z-index: -1;
    background: linear-gradient(145deg, #568e90, #66a9ab);
}

article ul{
    margin:0;
}

ul{
    list-style-type:none;
}
li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

article div{
    display: flex;
    align-items: baseline;
    justify-content: center;
    background: linear-gradient(145deg, #e6e3e3, #ffffff);
    height: 5rem;
    margin: auto;
    border-radius: 10px;
    transform: skew(15deg);
    width:24rem;
}
article h1, article h2{
    transform: skew(-15deg);
}
article p{
    margin-left:2.5rem;

}
article ul p{
    margin-left:0;
}





footer{
    padding-left: 4rem;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    width: 12vw;
    height: 100%;
}
nav a{
    display:flex;
    justify-content: center;
    padding:3rem;
    font-size: large;
    width:12rem;
    border-radius: 16px;
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);

}

nav a:nth-child(1){background: linear-gradient(145deg, #299545, #30b252);}
nav a:nth-child(2){background: rgba(60, 181, 209, 0.82);}
nav a:nth-child(3){background: rgba(255, 125, 130, 0.82);}
nav a:nth-child(4){background: rgba(255, 206, 8, 0.973); }

a:hover{
    font-weight:900;
    letter-spacing: 1px;
    animation-duration: 350ms;
    animation-timing-function: ease-in;
}


@keyframes grossi {
    from {
        font-size:1rem;
    }
    to{
        font-size: 1.1rem;
    }
}

video{
    display:block;
    width: 18rem;
    text-align: center;
    border-radius: 10px;
}

figure{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius:10px;
    width: 18rem;
    height: 9rem;
    margin: 0px;
}
figcaption{
    color:#ff9729;
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 1.5rem;
}
audio{
    border-radius: 0 0 10px 10px;
    width: 18rem;
}